@page "/years/create"
@inject Classbook.Services.Data.ISchoolYearService service
@using Classbook.App.Models.SchoolYear
@inject NavigationManager NavManager
@attribute [Authorize]

<EditForm Model="input" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="year">
            Учебна година:
        </label>
        <div class="col-sm-10">
            <InputText id="year" name="year" @bind-Value="input.Year" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Добави</button>
</EditForm>

@code {
    private SchoolYearInputModel input = new SchoolYearInputModel();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        this.user = (await this.authenticationStateTask).User;
        await base.OnInitializedAsync();
    }

    private async Task HandleValidSubmit()
    {
        await service.CreateAsync(input.Year, this.user.GetId());
        NavManager.NavigateTo("/years/all", true);
    }
}
