@page "/about"

<h1>Classbook application for teachers</h1>
<hr />
<h3>Built with:</h3>
<ul>
    <li>ASP Net Core 3.1</li>
    <li>Blazor Server</li>
    <li>ElectronNET</li>
    <li>SQLite</li>
    <li>Bootstrap v4.3.1</li>
</ul>
<hr />
<button @onclick="OpenBrowser" class="btn btn-outline-info" href="https://github.com/ivan-nikolov/Classbook">GitHub repository</button>

@code {
    private async Task OpenBrowser()
    {
        await Electron.Shell.OpenExternalAsync("https://github.com/ivan-nikolov/Classbook");
    }
}
