<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Здравей, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Изход</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Регистриране</a>
        <a href="Identity/Account/Login">Вписване</a>
    </NotAuthorized>
</AuthorizeView>
