@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <NavLink class="nav-link" href="About">
            About
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
