@inherits LayoutComponentBase
@using ElectronNET.API

@*<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />*@

<CascadingAuthenticationState>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <NavLink class="nav-link" href="About">
                Относно
            </NavLink>
            <button class="btn-sm btn-outline-danger" style="border-radius: 0 !important; border:none !important" @onclick="this.OnExit"><span class="oi oi-x"></span></button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</CascadingAuthenticationState>

@code {
    private void OnExit()
    {
        Electron.WindowManager.BrowserWindows.First().Close();
    }
}