@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <NavLink class="nav-link" href="About">
                Относно
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="content px-4">
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                @{
                    var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                    <RedirectToLogin ReturnUrl="@returnUrl"></RedirectToLogin>
                }
            </NotAuthorized>
        </AuthorizeView>
    </div>
</CascadingAuthenticationState>
