
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Дневник</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="this.ToggleSubMenu">
                        <span class=@this.menuIcon aria-hidden="true"></span> Учебни години
                    </NavLink>
                    @if (collapseSubMenu)
                    {
                <ul class="nav flex-column">

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/years/all" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Всички
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/years/create" Match="NavLinkMatch.All">
                            <span class="oi oi-plus" aria-hidden="true"></span> Добавяне
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/years/archive" Match="NavLinkMatch.All">
                            <span class="oi oi-spreadsheet" aria-hidden="true"></span> Архив
                        </NavLink>
                    </li>
                </ul>
                    }
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool collapseSubMenu;
    private string menuIcon = "oi oi-menu";

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubMenu()
    {
        this.collapseSubMenu = !this.collapseSubMenu;
        if (collapseSubMenu)
        {
            this.menuIcon = "oi oi-arrow-circle-bottom";
        }
        else
        {
            this.menuIcon = "oi oi-menu";
        }
    }
}
