.odd-section {
    margin: 2em 0em;
    background-color: #E4DBD7;
    padding: 2em;
    border-radius: 10px;
}

    .odd-section h2,
    .even-section h2 {
        text-align: center;
    }

.even-section {
    background-color: #D7DBE4;
    padding: 2em;
    border-radius: 10px;
}

.form-control {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: inherit;
}
