@page "/grades/create"
@using Classbook.Services.Models;
@using Classbook.App.Models.Grade;
@using Classbook.App.Components.Utitlity;
@inject Classbook.Services.Data.ISchoolYearService yearsService;
@inject Classbook.Services.Data.IGradeService gradeService;
@inject NavigationManager navManager;
@implements IDisposable

@if (this.years == null)
{
    <p>Зареждам...</p>
}
else if (this.years.Count == 0)
{
    <h4>Няма регистирарани учебни години.</h4>
    <NavLink class="btn btn-outline-info" href="/years/create">Създай учебна година</NavLink>
}
else
{
    <EditForm EditContext="this.editContext">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="SchoolYearId" class="col-sm-2 col-form-label">
                Година:
            </label>
            <div class="col-sm-10">
                <CustomInputSelect class="form-control" @bind-Value="this.input.SchoolYearId">
                    <option value="" disabled>Изберете година...</option>
                    @foreach (var year in this.years)
                        {
                        <option value="@year.Id">@year.Name</option>
                        }
                </CustomInputSelect>
            </div>
        </div>
        @if (this.isYearSelected)
        {
            <div class="form-group row">
                <label for="SchoolYearId" class="col-sm-2 col-form-label">
                    Клас:
                </label>
                <div class="col-sm-10">
                    <InputNumber class="form-control" min="1" max="13" step="1" @bind-Value="this.input.GradeNumber"></InputNumber>
                </div>
            </div>
        }
        <button type="submit" class="btn btn-outline-info" disabled="@false">Създай</button>
    </EditForm>
}

@code {
    private bool isYearSelected = false;
    private bool isValidInput = false;
    private EditContext editContext;
    private GradeInputModel input = new GradeInputModel();

    private List<SchoolYearSelectModel> years;

    private string test = string.Empty;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        this.editContext = new EditContext(input);
        this.user = (await this.authenticationStateTask).User;
        this.years = (await this.yearsService.AllByUserId(user.GetId())).Select(x => new SchoolYearSelectModel()
        {
            Id = x.Id,
            Name = x.Year,
        })
        .ToList();

        this.editContext.OnValidationStateChanged += this.OnValidationStateChanged;
        this.editContext.OnFieldChanged += this.OnFieldChange;
        await base.OnInitializedAsync();
    }

    private void OnValidationStateChanged(object sender, ValidationStateChangedEventArgs e)
    {
        var messages = this.editContext.GetValidationMessages(this.editContext.Field(nameof(this.input.SchoolYearId)));
        this.isYearSelected = messages.Count() == 0;
        Window.ReloadWindow();
        this.StateHasChanged();
    }

    private void OnFieldChange(object sender, FieldChangedEventArgs e)
    {
        this.isValidInput = this.editContext.Validate();
        Window.ReloadWindow();
        this.StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        var isValid = this.editContext.Validate() && await this.ServerValidate();

        if (isValid)
        {
            var dto = new GradeDto()
            {
                GradeNuber = this.input.GradeNumber,
                SchoolYearId = this.input.SchoolYearId,
            };

            await this.gradeService.CreateAsync(dto);
            this.navManager.NavigateTo($"/years/details/{this.input.SchoolYearId}", true);
        }
        else
        {

        }
    }

    private async Task<bool> ServerValidate()
        => await this.yearsService.GetById(this.input.SchoolYearId) != null;

    public void Dispose()
    {
        this.editContext.OnValidationStateChanged -= this.OnValidationStateChanged;
        this.editContext.OnFieldChanged -= this.OnFieldChange;
    }
}
