@page "/grades/details/{Id:int}";
@inject IGradeService gradeService;
@inject IModalService modalService;
@inject IToastService toastService;
@using Classbook.App.Models.Grades;
@using Classbook.App.Components.Subjects;


<BlazoredModal />

@if (this.grade == null)
{
    <Loader></Loader>
}
else
{
    <h1>Клас</h1>
    <h2>@this.grade.GradeNumber</h2>

    <section class="odd-section">
        <GradeSubjectsListComponent GradeId="this.Id"></GradeSubjectsListComponent>
    </section>

    <section class="even-section">
        <button class="btn btn-outline-info">
            Добави Паралелка
        </button>
    </section>

    
}

@code {
    [Parameter]
    public int Id { get; set; }

    private GradeDetailsViewModel grade;

    protected override async Task OnInitializedAsync()
    {
        this.grade = await this.gradeService.GetByIdAsync<GradeDetailsViewModel>(this.Id);
        await base.OnInitializedAsync();
    }
}
